p {
  font-size: 24px;
}
p2 {
  font-size: 20px;
}

#panel,
#button {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0px;
  width: 50%;
  height: 70px;
  padding: 0px;
  text-align: center;
  background-color: #ffeaea;
  border: solid 1px #c3c3c3;
}
#panel {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0%;
  height: auto;
  width: 50%;
  display: none;
}

#panel2,
#button2 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 20px;
  width: 50%;
  height: 70px;
  padding: 0px;
  text-align: center;
  background-color: #ffeaea;
  border: solid 1px #c3c3c3;
}
#panel2 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0%;
  height: auto;
  width: 50%;
  display: none;
}

#panel3,
#button3 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 20px;
  width: 50%;
  height: 70px;
  padding: 0px;
  text-align: center;
  background-color: #ffeaea;
  border: solid 1px #c3c3c3;
}
#panel3 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0%;
  height: auto;
  width: 50%;
  display: none;
}

#panel4,
#button4 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 20px;
  width: 50%;
  height: 70px;
  padding: 0px;
  text-align: center;
  background-color: #ffeaea;
  border: solid 1px #c3c3c3;
}
#panel4 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0%;
  height: auto;
  width: 50%;
  display: none;
}

#panel5,
#button5 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 20px;
  width: 50%;
  height: 70px;
  padding: 0px;
  text-align: center;
  background-color: #ffeaea;
  border: solid 1px #c3c3c3;
}
#panel5 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0%;
  height: auto;
  width: 50%;
  display: none;
}
