p {
  font-size: 24px;
}
p2 {
  font-size: 20px;
}

#panel,
#button {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0px;
  width: 50%;
  height: 70px;
  padding: 0px;
  text-align: center;
  background-color: #dff1ff;
  border: solid 1px #c3c3c3;
}
#panel {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0%;
  height: auto;
  width: 50%;
  display: none;
}

#panel2,
#button2 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 20px;
  width: 50%;
  height: 70px;
  padding: 0px;
  text-align: center;
  background-color: #dff1ff;
  border: solid 1px #c3c3c3;
}
#panel2 {
  margin-left: 25%;
  margin-right: 0%;
  margin-top: 0%;
  height: auto;
  width: 50%;
  display: none;
}

div.square {
  background-color: #dff1ff;
  width: 50%;
  height: 40%;
  position: absolute;
  margin-left: 25%;
  margin-top: 10%;
}
div.square2 {
  border: 10px solid #f8f9fa;
  width: 45%;
  height: 25%;
  position: absolute;
  margin-left: 27.5%;
  margin-top: 15%;
}
