.background {
  background-color: #f8f9fa;
}

.title_text {
  position: absolute;
  padding-left: 10%;
  padding-top: 15%;
  font-weight: normal;
}

#title_button {
  position: absolute;
  margin-left: 50%;
  margin-top: 35%;
}

#star1 {
  /*仁園*/
  position: absolute;
  margin-left: 27%;
  margin-top: 35%;
  width: 25px;
  height: 25px;
}

#star2 {
  /*心園*/
  position: absolute;
  margin-left: 27%;
  margin-top: 30%;
  width: 25px;
  height: 25px;
}

#star3 {
  /*理園*/
  position: absolute;
  margin-left: 41.5%;
  margin-top: 29.5%;
  width: 25px;
  height: 25px;
}

#star4 {
  /*文園*/
  position: absolute;
  margin-left: 45%;
  margin-top: 12%;
  width: 25px;
  height: 25px;
}

#star5 {
  /*輔園*/
  position: absolute;
  margin-left: 65.5%;
  margin-top: 25%;
  width: 25px;
  height: 25px;
}

#div1 {
  position: absolute;
  margin-left: 10%;
  margin-top: 30%;
}
