.background {
  background-color: #f8f9fa;
}

.map {
  margin-left: 15%;
}

.title_text {
  font-size: 85px;
  position: absolute;
  padding-left: 10%;
  padding-top: 15%;
}

#title_button {
  position: absolute;
  margin-left: 50%;
  margin-top: 35%;
}

#star1 {
  position: absolute;
  margin-left: 27%;
  margin-top: 34%;
  width: 25px;
  height: 25px;
}

#star2 {
  position: absolute;
  margin-left: 27%;
  margin-top: 28%;
  width: 25px;
  height: 25px;
}

#div1 {
  position: absolute;
  margin-left: 10%;
  margin-top: 30%;
}
